.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}

.recipe__rating {
    display: flex;
}

.recipe>img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.recipe>button {
    background: lightgray;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgrey;
    color: #111;
}

.recipe__price {
    margin-top: 5px;
}

.recipe__info {
    height: 100px;
    margin-bottom: 15px;
}

ul, ol {
    padding: revert;
}